.App {
  text-align: center;
}

.bodyCarritoTotal{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 1px;
    padding: 0.2rem;
}

.headerAdmin{
  background-image: url(./Img/adminHeader.png);
}

.navBack{
  background-image: url(./Img/navImg.jpg);
}
.labelsFilter{
  color:rgb(63,81,181);
}
.MuiIconButton-edgeStart .MuiSvgIcon-root {
  color:white;
}
.cardPrincipal{
  margin-top: 6rem!important;
}
.makeStyles-root-130 {
  margin-top: 12%;
  margin-left: 20%;
  
}
.makeStyles-root-13 {
  margin-top: 12%;
  margin-left: 20%;
}

.formulario{
  background-image: url(./Img/fondoFormulario.png);
  height: 1100px !important;

}
.formularioContacto{
  background-image: url(./Img/Contactenos.jpg);
}

/* @keyframes slidein {
  from {
    margin-top:-500px;
    width:500%
  }
  
  to {
   margin-left:0%;
   width:100%;
 }
}
.makeStyles-root-13{
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate !important;  
 }
  */
