.App {
  text-align: center;
}

.bodyCarritoTotal{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 1px;
    padding: 0.2rem;
}